
<template name="current_activity">
  <h1 class="page-header">Current Activity</h1>
  <button id="start-recording" class='btn btn-lg btn-default'>Start Recording</button>
  <button id="stop-recording" class='btn btn-lg btn-default disabled'>Stop Recording</button>

  <canvas id="volume_chart" style='width:100%; height:200px;'>
  </canvas>
  <div class="row">
  	<div class="col-sm-2 well text-center" >
  		<div><h4>Volume</h4></div>
  		<div>
  			<h1><span id="current-volume">0</span>db</h1>
  		</div>
  	</div>
  	<div class="col-sm-2 well text-center">
  		<div><h4>db Threshold</h4></div>
  		<div class='form-group'>
  			<input type='text' id="db-threshold" class="form-control" value="-48" />
  		</div>
  	</div>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>Duration</th>
          <th>Noise Level</th>
        </tr>
      </thead>
      <tbody>
      	{{#each activity_log}}
      	<tr>
      		<td>
      			{{start}}
      		</td>
      		<td>
      			{{duration}}
      		</td>
      		<td>
      			{{level}}
      		</td>
      	</tr>
      	{{/each}}
      </tbody>
    </table>
  </div>
</template>