<template name="index">
    <button id="callit">Do IT</button>
    <div>
        <a href="#" id="start" class="disabled">Start</a> /
        <a href="#" id="stop" class="disabled">Stop</a>
        Recording
    </div>
    <div>
        Available WAVs:
        <ul id="wav-list">
        </ul>
    </div>
</template>