<head>
    <script src="/recorder.js"></script>
    <script src="/Chart.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
</head> 
<body>
	{{>navbar}}
    <div class="container-fluid">
      <div class="row">
      	{{>sidebar}}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {{>current_activity}}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</body>